/*
 * Corne 36-touches — ZMK — portage du layout BÉPO
 *
 *  ┌────┬────┬────┬────┬────┐         ┌────┬────┬────┬────┬────┐
 *  │ 0  │ 1  │ 2  │ 3  │ 4  │         │ 5  │ 6  │ 7  │ 8  │ 9  │
 *  ├────┼────┼────┼────┼────┤         ├────┼────┼────┼────┼────┤
 *  │ 10 │ 11 │ 12 │ 13 │ 14 │         │ 15 │ 16 │ 17 │ 18 │ 19 │
 *  ├────┼────┼────┼────┼────┤         ├────┼────┼────┼────┼────┤
 *  │ 20 │ 21 │ 22 │ 23 │ 24 │         │ 25 │ 26 │ 27 │ 28 │ 29 │
 *  └────┴────┴─┬──┴─┬──┴─┬──┴─┐     ┌─┴──┬─┴──┬─┴──┬─┴────┴────┘
 *              │ 30 │ 31 │ 32 │     │ 33 │ 34 │ 35 │
 *              └────┴────┴────┘     └────┴────┴────┘
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE        0

#define BP_B        Q
#define BP_ECUT     W
#define BP_W        RBKT
#define BP_P        E
#define BP_O        R
#define BP_EGRV     T
#define BP_A        A
#define BP_U        S
#define BP_I        D
#define BP_E        F
#define BP_COMM     G
#define BP_AGRV     Z
#define BP_Y        X
#define BP_X        C
#define BP_DOT      V
#define BP_K        B
#define BP_DCRC     Y
#define BP_V        U
#define BP_M        APOS
#define BP_D        I
#define BP_L        O
#define BP_J        P
#define BP_Z        LBKT
#define BP_C        H
#define BP_CCED     BACKSLASH
#define BP_T        J
#define BP_S        K
#define BP_R        L
#define BP_N        SEMI
#define BP_APOS     N
#define BP_Q        M
#define BP_G        COMMA
#define BP_H        DOT
#define BP_F        FSLH
#define BP_DQOT     N1
#define BP_DLR      GRAVE
#define BP_LGIL     N2
#define BP_RGIL     N3
#define BP_LPRN     N4
#define BP_RPRN     N5
#define BP_1        LS(N1)
#define BP_HASH     LS(GRAVE)
#define BP_2        LS(N2)
#define BP_3        LS(N3)
#define BP_4        LS(N4)
#define BP_5        LS(N5)
#define BP_MDSH     RA(N1)
#define BP_LESS     RA(N2)
#define BP_GRTR     RA(N3)
#define BP_LBRC     RA(N4)
#define BP_RBRC     RA(N5)
#define BP_AT       N6
#define BP_PLUS     N7
#define BP_MINS     N8
#define BP_SLSH     N9
#define BP_ASTR     N0
#define BP_EQL      MINUS
#define BP_6        LS(N6)
#define BP_7        LS(N7)
#define BP_8        LS(N8)
#define BP_9        LS(N9)
#define BP_0        LS(N0)
#define BP_DEGR     LS(MINUS)
#define BP_PCNT     EQUAL
#define BP_PMIL     RA(EQUAL)
#define BP_GRAV     LS(EQUAL)

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_base { // Layer 0
                display-name = "Base";
        //  ┌──────────────────┬──────────────────┬──────────────────┬──────────────────┬──────────────────┐                  ┌──────────────────┬──────────────────┬──────────────────┬──────────────────┬──────────────────┐
        //  │ B                │ É              W │ P                │ O                │ È                │                  │ ^                │ V              M │ D                │ L                │ J              Z │
        //  ├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤                  ├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤
        //  │ A           LWIN │ U           LALT │ I          LCTRL │ E         LSHIFT │ ,                │                  │ C              Ç │ T         RSHIFT │ S          RCTRL │ R           LALT │ N           RWIN │
        //  ├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤                  ├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤
        //  │ À       FUNCTION │ Y                │ X                │ .                │ K                │                  │ ’                │ Q                │ G                │ H                │ F       FUNCTION │
        //  └──────────────────┴──────────────────┼──────────────────┼──────────────────┼──────────────────┤                  ├──────────────────┼──────────────────┼──────────────────┼──────────────────┴──────────────────┘
        //                                        │ ESC              │ BSPC      NUMSYB │ ENTER        NAV │                  │ DEL          MEH │ SPACE     NUMSYB │ TAB              │
        //                                        └──────────────────┴──────────────────┴──────────────────┘                  └──────────────────┴──────────────────┴──────────────────┘
            bindings = <
                &kp BP_B        &kp  BP_ECUT       &kp BP_P           &kp BP_O           &kp BP_EGRV                           &kp BP_DCRC        &kp BP_V           &kp BP_D           &kp BP_L           &kp BP_J
                &kp BP_A        &kp  BP_U          &kp BP_I           &kp BP_E           &kp BP_COMM                           &kp BP_C           &kp BP_T           &kp BP_S           &kp BP_R           &kp BP_N
                &kp BP_AGRV     &kp  BP_Y          &kp BP_X           &kp BP_DOT         &kp BP_K                              &kp BP_APOS        &kp BP_Q           &kp BP_G           &kp BP_H           &kp BP_F
                                                   &kp ESC            &kp BACKSPACE      &kp ENTER                             &sk RALT           &kp SPACE          &kp TAB
            >;
        };
    };
};