/*
 * Corne 36-touches — ZMK — portage du layout BÉPO
 *
 *  ┌────┬────┬────┬────┬────┐         ┌────┬────┬────┬────┬────┐
 *  │ 0  │ 1  │ 2  │ 3  │ 4  │         │ 5  │ 6  │ 7  │ 8  │ 9  │
 *  ├────┼────┼────┼────┼────┤         ├────┼────┼────┼────┼────┤
 *  │ 10 │ 11 │ 12 │ 13 │ 14 │         │ 15 │ 16 │ 17 │ 18 │ 19 │
 *  ├────┼────┼────┼────┼────┤         ├────┼────┼────┼────┼────┤
 *  │ 20 │ 21 │ 22 │ 23 │ 24 │         │ 25 │ 26 │ 27 │ 28 │ 29 │
 *  └────┴────┴─┬──┴─┬──┴─┬──┴─┐     ┌─┴──┬─┴──┬─┴──┬─┴────┴────┘
 *              │ 30 │ 31 │ 32 │     │ 33 │ 34 │ 35 │
 *              └────┴────┴────┘     └────┴────┴────┘
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE        0
#define NUMSYM      1
#define FUNCTION    2
#define NAV         3
#define NUMPAD      4

#define BP_B        Q
#define BP_ECUT     W
#define BP_W        RBKT
#define BP_P        E
#define BP_O        R
#define BP_EGRV     T
#define BP_A        A
#define BP_U        S
#define BP_I        D
#define BP_E        F
#define BP_COMM     G
#define BP_AGRV     Z
#define BP_Y        X
#define BP_X        C
#define BP_DOT      V
#define BP_K        B
#define BP_DCRC     Y
#define BP_V        U
#define BP_M        APOS
#define BP_D        I
#define BP_L        O
#define BP_J        P
#define BP_Z        LBKT
#define BP_C        H
#define BP_CCED     BACKSLASH
#define BP_T        J
#define BP_S        K
#define BP_R        L
#define BP_N        SEMI
#define BP_APOS     N
#define BP_Q        M
#define BP_G        COMMA
#define BP_H        DOT
#define BP_F        FSLH
#define BP_DQOT     N1
#define BP_DLR      GRAVE
#define BP_LGIL     N2
#define BP_RGIL     N3
#define BP_LPRN     N4
#define BP_RPRN     N5
#define BP_1        LS(N1)
#define BP_HASH     LS(GRAVE)
#define BP_2        LS(N2)
#define BP_3        LS(N3)
#define BP_4        LS(N4)
#define BP_5        LS(N5)
#define BP_MDSH     RA(N1)
#define BP_LESS     RA(N2)
#define BP_GRTR     RA(N3)
#define BP_LBRC     RA(N4)
#define BP_RBRC     RA(N5)
#define BP_AT       N6
#define BP_PLUS     N7
#define BP_MINS     N8
#define BP_SLSH     N9
#define BP_ASTR     N0
#define BP_EQL      MINUS
#define BP_6        LS(N6)
#define BP_7        LS(N7)
#define BP_8        LS(N8)
#define BP_9        LS(N9)
#define BP_0        LS(N0)
#define BP_DEGR     LS(MINUS)
#define BP_PCNT     EQUAL
#define BP_PMIL     RA(EQUAL)
#define BP_GRAV     LS(EQUAL)

/ {
    behaviors {
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = < 10 11 12 13 23 >; 
            hold-trigger-on-release;
        };
        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = < 15 16 17 18 26 >; 
            hold-trigger-on-release;
        };
    };
    
    keymap {
        compatible = "zmk,keymap";

        layer_base { // Layer 0
                display-name = "Base";
        //  ┌──────────────────┬──────────────────┬──────────────────┬──────────────────┬──────────────────┐                  ┌──────────────────┬──────────────────┬──────────────────┬──────────────────┬──────────────────┐
        //  │ B            ESC │ É              W │ P                │ O                │ È                │                  │ ^                │ V              M │ D                │ L                │ J              Z │
        //  ├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤                  ├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤
        //  │ A           LWIN │ U           LALT │ I          LCTRL │ E         LSHIFT │ ,                │                  │ C              Ç │ T         RSHIFT │ S          RCTRL │ R           LALT │ N           RWIN │
        //  ├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤                  ├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤
        //  │ À       FUNCTION │ Y                │ X                │ .           RALT │ K                │                  │ ’                │ Q           RALT │ G                │ H                │ F       FUNCTION │
        //  └──────────────────┴──────────────────┼──────────────────┼──────────────────┼──────────────────┤                  ├──────────────────┼──────────────────┼──────────────────┼──────────────────┴──────────────────┘
        //                                        │ ESC              │ BSPC      NUMSYB │ ENTER        NAV │                  │ DEL          MEH │ SPACE     NUMSYB │ TAB              │
        //                                        └──────────────────┴──────────────────┴──────────────────┘                  └──────────────────┴──────────────────┴──────────────────┘
            bindings = <
                &kp BP_B                  &mt BP_W BP_ECUT  &kp BP_P         &kp BP_O           &kp BP_EGRV                     &kp BP_DCRC                 &mt BP_M BP_V     &kp BP_D         &kp BP_L        &mt BP_Z BP_J
                &hml LWIN BP_A            &hml LALT BP_U    &hml LCTRL BP_I  &hml LSHFT BP_E    &kp BP_COMM                     &mt BP_CCED BP_C            &hmr RSHFT BP_T   &hmr RCTRL BP_S  &hmr LALT BP_R  &hmr RWIN BP_N
                &lt FUNCTION  BP_AGRV     &kp BP_Y          &kp BP_X         &hml RALT BP_DOT   &kp BP_K                        &kp BP_APOS                 &hmr RALT BP_Q    &kp BP_G         &kp BP_H        &lt FUNCTION BP_F
                                                            &kp ESC          &lt NUMSYM BSPC    &lt NAV ENTER                   &mt LS(LA(LCTRL)) DEL       &lt NUMSYM SPACE  &kp TAB
            >;
        };

        layer_numsym { // Layer 1
                display-name = "Chiffre-Symbole";
        //  ┌──────────────────┬──────────────────┬──────────────────┬──────────────────┬──────────────────┐                  ┌──────────────────┬──────────────────┬──────────────────┬──────────────────┬──────────────────┐
        //  │ "              $ │ «                │ »                │ (                │ )                │                  │ @              % │ +                │ -                │ /                │ *              = │
        //  ├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤                  ├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤
        //  │ 1              # │ 2                │ 3                │ 4                │ 5                │                  │ 6              ` │ 7                │ 8                │ 9                │ 0              ° │
        //  ├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤                  ├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤
        //  │ —              – │ <                │ >                │ [                │ ]                │                  │ ^              ‰ │ ±                │ −                │ ÷                │ ×                │
        //  └──────────────────┴──────────────────┼──────────────────┼──────────────────┼──────────────────┤                  ├──────────────────┼──────────────────┼──────────────────┼──────────────────┴──────────────────┘
        //                                        │                  │                  │                  │                  │                  │                  │                  │
        //                                        └──────────────────┴──────────────────┴──────────────────┘                  └──────────────────┴──────────────────┴──────────────────┘
            bindings = <
                &mt BP_DLR BP_DQOT        &kp BP_LGIL       &kp BP_RGIL      &kp BP_LPRN        &kp BP_RPRN                     &mt BP_PCNT BP_ BP_AT       &kp BP_PLUS       &kp BP_MINS      &kp BP_SLSH     &mt BP_EQL BP_ASTR
                &mt BP_HASH BP_1          &kp BP_2          &kp BP_3         &mt LSHFT BP_4     &kp BP_5                        &mt BP_GRAV BP_6            &mt RSHFT BP_7    &kp BP_8         &kp BP_9        &mt BP_DEGR BP_0
                &mt RA(BP_HASH) BP_MDSH   &kp BP_LESS       &kp BP_GRTR      &kp BP_LBRC        &kp BP_RBRC                     &mt BP_PMIL RA(BP_AT)       &kp RA(BP_PLUS)   &kp RA(BP_MINS)  &kp RA(BP_SLSH) &mt RA(BP_EQL) RA(BP_ASTR)
                                                            &trans           &trans             &trans                          &trans                      &trans            &trans
            >;
        };

        layer_fun { // Layer 2
                display-name = "Fonctions";
        //  ┌──────────────────┬──────────────────┬──────────────────┬──────────────────┬──────────────────┐                  ┌──────────────────┬──────────────────┬──────────────────┬──────────────────┬──────────────────┐
        //  │ F1               │ F2               │ F3               │ F4               │ F5               │                  │ F6               │ F7               │ F8               │ F9               │ F10              │
        //  ├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤                  ├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤
        //  │                  │ VOL-        LALT │ MUTE       LCTRL │ VOL+      LSHIFT │                  │                  │                  │ PREV      RSHIFT │ STOP       RCTRL │ PLAY        LALT │ NEXT        RWIN │
        //  ├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤                  ├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤
        //  │                  │                  │                  │                  │ F11              │                  │ F12              │                  │                  │                  │                  │
        //  └──────────────────┴──────────────────┼──────────────────┼──────────────────┼──────────────────┤                  ├──────────────────┼──────────────────┼──────────────────┼──────────────────┴──────────────────┘
        //                                        │                  │                  │                  │                  │                  │                  │                  │
        //                                        └──────────────────┴──────────────────┴──────────────────┘                  └──────────────────┴──────────────────┴──────────────────┘
            bindings = <
                &kp F1                    &kp F2            &kp F3           &kp F4             &kp F5                          &kp F6                      &kp F7            &kp F8           &kp F9          &kp F10
                &trans                    &mt LALT C_VOL_DN &mt LCTRL C_MUTE &mt LSHFT C_VOL_UP &trans                          &trans                      &mt RSHFT C_PREV  &mt RCTRL C_STOP &mt LALT C_PP   &mt RGUI C_NEXT
                &trans                    &trans            &trans           &trans             &kp F11                         &kp F12                     &trans            &trans           &trans          &trans
                                                            &trans           &trans             &trans                          &trans                      &trans            &trans
            >;
        };

        layer_nav { // Layer 3
                display-name = "Navigation";
        //  ┌──────────────────┬──────────────────┬──────────────────┬──────────────────┬──────────────────┐                  ┌──────────────────┬──────────────────┬──────────────────┬──────────────────┬──────────────────┐
        //  │                  │                  │ PRINTSCREEN      │                  │                  │                  │ PGUP             │ HOME             │ UP               │ END              │ SCROLL UP        │
        //  ├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤                  ├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤
        //  │                  │                  │                  │                  │                  │                  │ PGDOWN           │ LEFT             │ DOWN             │ RIGHT            │ SCROLL DOWN      │
        //  ├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤                  ├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤
        //  │                  │                  │                  │                  │                  │                  │                  │                  │                  │                  │                  │
        //  └──────────────────┴──────────────────┼──────────────────┼──────────────────┼──────────────────┤                  ├──────────────────┼──────────────────┼──────────────────┼──────────────────┴──────────────────┘
        //                                        │                  │                  │                  │                  │                  │                  │                  │
        //                                        └──────────────────┴──────────────────┴──────────────────┘                  └──────────────────┴──────────────────┴──────────────────┘
            bindings = <
                &trans                    &trans            &kp PSCRN        &trans             &trans                          &kp PG_UP                   &kp HOME          &kp UP           &kp END         &msc SCRL_UP
                &trans                    &trans            &trans           &trans             &trans                          &kp PG_UP                   &kp LEFT          &kp DOWN         &kp RIGHT       &msc SCRL_DOWN
                &trans                    &trans            &trans           &trans             &trans                          &trans                      &trans            &trans           &trans          &trans
                                                            &trans           &trans             &trans                          &trans                      &trans            &trans
            >;
         };

        layer_numpad { // Layer 4
                display-name = "Pavé numérique";
        //  ┌──────────────────┬──────────────────┬──────────────────┬──────────────────┬──────────────────┐                  ┌──────────────────┬──────────────────┬──────────────────┬──────────────────┬──────────────────┐
        //  │                  │                  │                  │                  │                  │                  │ 7                │ 8                │ 9                │ /                │ *                │
        //  ├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤                  ├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤
        //  │                  │                  │                  │                  │                  │                  │ 4                │ 5                │ 6                │ -                │                  │
        //  ├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤                  ├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤
        //  │                  │                  │                  │                  │                  │                  │ 1                │ 2                │ 3                │ +                │                  │
        //  └──────────────────┴──────────────────┼──────────────────┼──────────────────┼──────────────────┤                  ├──────────────────┼──────────────────┼──────────────────┼──────────────────┴──────────────────┘
        //                                        │                  │                  │                  │                  │ 0                │ .                │                  │
        //                                        └──────────────────┴──────────────────┴──────────────────┘                  └──────────────────┴──────────────────┴──────────────────┘
           bindings = <
                &trans                    &trans            &trans           &trans             &trans                          &kp KP_N7                   &kp KP_N8         &kp KP_N9        &kp KP_DIVIDE   &kp KP_MULTIPLY
                &trans                    &trans            &trans           &trans             &trans                          &kp KP_N4                   &kp KP_N5         &kp KP_N6        &kp KP_SUBTRACT &trans
                &trans                    &trans            &trans           &trans             &trans                          &kp KP_N1                   &kp KP_N2         &kp KP_N3        &kp KP_PLUS     &trans
                                                            &trans           &trans             &trans                          &kp KP_N0                   &kp KP_DOT        &trans
            >;
        };
    };
};
